/* For mobile screen width */
@media (max-width: 820px) { }

#loginform {
    max-width: 390px;
    height: 350vh;
}

.wrapper {
    max-width: 390px;
    max-height: 800vh;
    width: 380px;
    height: 38vh;
    margin: 0 auto;
    box-shadow: $s-basic;
}

.container {
    margin: 12px auto;
    padding: 12px 20px;
    position: relative;
    text-align: center;
}

.section {
    padding: 1rem;
}  

#signUp {
    display: none;
}

.header {
    position: relative;
    text-align: center;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-acts {
    text-align: right;
    margin-left: auto;
    width: 100%;
}

.submit-btn {
    margin: 8px 32px;
}
.sign-outBtn {
    margin: 24px 32px;
}

#rememberMe {
    display:inline;
}
.below-login {
    width: 62%;
    display: inline-flex;
    position:relative;
}
.btm-swap {
    width: 100%;
    text-align:center;
}
.opposite-btn1,
.opposite-btn2 {
    cursor: pointer;
    position: relative;
    display: block;
    margin: auto;
}
.new-row {
    display: inline-flex;
    width: 100%;
}
.middle {
    display: inline;
    position: relative;
    margin-left: auto;
}
.align-r {
    margin-left: auto;
}
.go-up {
    margin: -126px auto;
    text-align:center;
    display:flex;
    position:relative;
}
.go-uptwo {
    margin: -430px auto;
    display:flex;
}
.btm-wrap {
    max-width: 390px;
    max-height: 800vh;
    width: 380px;
    margin: 0 auto;
}