# Used to authenticate using Azure AD as a service principal for role-based
# authentication.
#
# See the documentation for `EnvironmentCredential` at the following link:
# https://docs.microsoft.com/javascript/api/@azure/identity/environmentcredential
# AZURE_TENANT_ID=<AD tenant id or name>
# AZURE_CLIENT_ID=<ID of the user/service principal to authenticate as>
# AZURE_CLIENT_SECRET=<client secret used to authenticate to Azure AD>

# Used to authenticate with the Azure OpenAI. Retrieve these
# values from an Azure OpenAI instance in the Azure Portal.
AZURE_OPENAI_KEY=<MY_RESOURCE_KEY>
AZURE_OPENAI_RESOURCE=<MY_RESOURCE_NAME>
AZURE_OPENAI_ENDPOINT=https://<MY_RESOURCE_NAME>.openai.azure.com/
AZURE_OPENAI_DEPLOYMENT_NAME=<MY_DEPLOYMENT_NAME>
OPENAI_API_VERSION=<API_VERSION> 
