.main-navigation {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff; /* Set your desired background color */
    display: flex;
    justify-content: space-evenly;
  }

.logo {
    width: 195px;
    height: 78px;
    flex: 2;
}
.menu-website-menu-2021-container{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    flex: 7;
}

.mega-menu {
    max-width: 945px;
    width: 100%;
    list-style: none;
    display: flex; 
    align-items: center; 
    justify-content: space-around;
}
.mega-menu li {
    white-space: nowrap;
}
.menu-website-menu-2021 {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.menu-item {
  margin-right: 50px; /* Add spacing between menu items */
  display: inline-block;
  align-items: center;
}

.menu-item a {
  color: rgb(0, 0, 0); /* Set the color of the menu items */
  text-decoration: none;
  
}

.menu-item a:hover {
  color:crimson; /* Add color on hover */
}